
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: black;
  line-height: 1.5;
  overflow: hidden;
  font-family: system-ui, sans-serif; 
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}
.login-container{
  width: 100vw;
  height: 100vh;
  padding: 40px 10px 40px 10px ;
  background-color:#000000;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.login-container h1{
  font-size: 80px;
  letter-spacing:-2px;
  margin-bottom: 60px;
}


.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353935;
  width:30vw;
  height: 70vh;
  padding: 10px;
  padding-top: 20px;
  border-radius: 40px;
}
.login-form input{
  color: white;
  font-size: 20px;
  background-color: #555;
  width: 80%;
  height: 45px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 5px;
}
.login-form button{
  width: 125px;
  height: 45px;
  font-size: 20px;
  border: none;
  background-color: #1e85f7;
  color:white ;
  border-radius: 20px;
  margin: 60px 0 25px 0;
}
.checkbox-container {
  align-self: flex-start; 
  margin-left: 10%;    
  display: flex;
  align-items: center;   
  gap: 8px; 
  color: white;            
  margin: 15px 0 20px 10%;
}

.login-form .checkbox {
  width: 20px;            
  height: 20px;
  cursor: pointer;
  margin-bottom: 0;      
}
.load{
  color: aliceblue;
}
.chat-main{
  height: 100vh;
  overflow: auto;
}
.chatpage-container{
  display: flex;
  color: white;
  height: calc(100vh - 50px);
  overflow: hidden;
}
.username {
  height: 50px;
  background-color:grey;
}
.chatlist h1{
  color: white;
  margin-bottom: 10px;
}
.chatlist{
  /* background-color: aqua; */
  /* background-color: #8eb9ec; */
  width: 30vw;
  height: 85vh;
  overflow-y: auto;
}

.chat{
  /* color: #000000; */
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #555;
  margin-bottom: 15px;
  padding: 0 10px 0 5px;
  /* background-color: aqua; */
}

.chat-name{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message-prev{
  align-items: flex-start;
  color: black;
  border-radius: 12px;
  font-size: 15px;
  padding: 2px 8px;
  background-color: rgb(106, 161, 23);
  font-weight: 700;
  width: fit-content;
  margin-top: 4px;
  margin-bottom: 2px;
}
.unread-count{
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgb(106, 161, 23);
  border-radius: 20px

}

.typing{
  font-weight: 200;
  font-style: italic;
  letter-spacing: 0.5px;
  color:rgb(103, 255, 103);
  font-weight: 400;
}
.chat-window{
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  flex: 1;
  overflow: auto;
   position: relative;
  /* background-color: red; */
  color:rgba(245, 245, 245, 0.933);
  padding: 4px 20px 0 20px;
}
.chat-title {
  /* background-color: #1e85f7; */
  height: 60px;
  margin-bottom: 20px ;

}


.loading{
  color: white;
}
.message-container{
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  /* margin-bottom: 40px; */
}
.message-container::-webkit-scrollbar,
.chatlist::-webkit-scrollbar {
  display: none;
}

.message{
  width: 20vw;
  padding: 2px 10px ;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #353935;
}
.message h4{
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
}
.my-message{
  align-self: flex-end;
  
}
.my-message h4{
  display: none;
}
.message h5{
  font-weight: 500;
}
.others-message {
  align-self: flex-start;
  color: black;
  background: white;
}
.send-message{
  padding-bottom: 6px;
  /* margin-bottom: 3px; */

}
.send-message form{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.chat-window input{
  height: 40px;
  width: calc(100% - (40px + 2px));
  outline: none;
  border: none;
  border-radius: 15px;
  margin-right: 2px;
  font-size: 20px;
  font-weight: 400;
  padding: 0 10px 0 10px;

}
.chat-window button{
  background-color: #1e85f7;
  color: white;
  padding-left: 0.5px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 50%;
}


@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
