
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: black;
  line-height: 1.5;
  font-family: system-ui, sans-serif; 
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}
.login-container{
  width: 100vw;
  height: 100vh;
  padding: 40px 10px 40px 10px ;
  background-color:#000000;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.login-container h1{
  font-size: 80px;
  letter-spacing:-2px;
  margin-bottom: 60px;
}


.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353935;
  width:30vw;
  height: 70vh;
  padding: 10px;
  padding-top: 20px;
  border-radius: 40px;
}
.login-form input{
  color: white;
  font-size: 20px;
  background-color: #555;
  width: 80%;
  height: 45px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 5px;
}
.login-form button{
  width: 125px;
  height: 45px;
  font-size: 20px;
  border: none;
  background-color: #1e85f7;
  color:white ;
  border-radius: 20px;
  margin: 60px 0 25px 0;
}
.checkbox-container {
  align-self: flex-start; 
  margin-left: 10%;    
  display: flex;
  align-items: center;   
  gap: 8px; 
  color: white;            
  margin: 15px 0 20px 10%;
}

.login-form .checkbox {
  width: 20px;            
  height: 20px;
  cursor: pointer;
  margin-bottom: 0;      
}


@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
